<div class="full-page">
    <h1>Edit Password</h1>

    <form class="example-form" (ngSubmit)="OnSubmit()" [formGroup]="profileForm">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="userName" matInput placeholder="testuser@mytest.com" required>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password' "
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>App</mat-label>
            <input formControlName="app" matInput placeholder="Outlook"  required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Category</mat-label>
            <input formControlName="category" matInput placeholder="Work"  required>
        </mat-form-field>
        
        <div class="button-row">
            <button mat-stroked-button color="warn" class="button" routerLink="/passwords-list">Discard</button>
            <button mat-raised-button color="primary" class="button" type="submit" [disabled]="!profileForm.valid">Update</button>
        </div>
    </form>
</div>